.header__flex--card {
  position: relative;
  max-width: 20.5rem;
  margin-right: auto;
  margin-left: auto;
  background-color: var(--LightGrayishMagenta);
  padding-inline: 4rem;
  padding-block: 1rem;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  text-align: center;
  white-space: nowrap;
  & + & {
    margin-top: 1rem;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    background-image: url(/images/icon-star.svg);
    background-repeat: space;
    width: 100px;
    height: 1rem;
    margin-top: 1rem;
  }
}
.p--raiting {
  margin-top: 1.3rem;
  font-size: 1rem;
  font-weight: var(--fw-700);
  color: var(--VeryDarkMagenta);
}
