:root {
  /* fonts */

  --fw-400: 400;
  --fw-500: 500;
  --fw-700: 700;
  --fs-smal: 0.6875rem;
  --fs-large: 0.7875rem;
  --fs-large2: 0.875rem;
  --fs-m: 1rem;
  --fs-bold: 1.125rem;

  /* colors */

  --VeryDarkMagenta: hsl(300, 43%, 22%);
  --SoftPink: hsl(333, 80%, 67%);

  --DarkGrayishMagenta: hsl(303, 10%, 53%);
  --LightGrayishMagenta: hsl(300, 24%, 96%);
  --White: hsl(0, 0%, 100%);
  --clr-a: hsl(228, 45%, 44%);
}
